<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin</title>

    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#5bc0de">
    <meta name="msapplication-TileImage" content="assets/img/metis-tile.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="assets/lib/Font-Awesome/css/font-awesome.min.css">

    <!-- Metis core stylesheet -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/theme.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <style>
        .btn-space {
            margin-right: 5px;
        }
    </style>
    {% block extra_css %} {% endblock extra_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
      <script src="assets/lib/html5shiv/html5shiv.js"></script>
	      <script src="assets/lib/respond/respond.min.js"></script>
	    <![endif]-->

    <!--Modernizr 3.0-->
    <!-- <script src="assets/lib/modernizr-build.min.js"></script> -->
</head>

<body>
    <div id="wrap">
        <div id="top">

            <div class="collapse navbar-collapse navbar-ex1-collapse">
            </div>
            </nav>
            <!-- /.navbar -->

            <!-- header.head -->
            <header class="head">
                <div class="search-bar">
                    <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
            <i class="fa fa-expand"></i>
          </a>

                    <form class="main-search">
                        <div class="input-group">
                            <input type="text" class="input-small form-control" placeholder="Live Search ...">
                            <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm text-muted" type="button"><i class="fa fa-search"></i></button>
                </span>
                        </div>
                    </form>
                </div>

                <!-- ."main-bar -->
                <div class="main-bar">
                    <div class="btn-group pull-right btn-space">
                        <a id="logout" href="#" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" class="btn btn-metis-1 btn-sm">
              <i class="fa fa-power-off"></i>
            </a>
                    </div>
                    <div class="btn-group pull-right btn-space">
                        <a data-placement="bottom" data-original-title="Show / Hide Sidebar" data-toggle="tooltip" class="btn btn-success btn-sm" id="changeSidebarPos">
              <i class="fa fa-expand"></i>
            </a>
                    </div>
                    <div class="btn-group pull-right btn-space">
                        <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip" class="btn btn-default btn-sm" id="toggleFullScreen">
              <i class="glyphicon glyphicon-fullscreen"></i>
            </a>
                    </div>
                </div>
                <!-- /.main-bar -->
            </header>

            <!-- end header.head -->
        </div>
        <!-- /#top -->
        <div id="left">
            <div class="media user-media">
                <a class="user-link" href="/admin/profile">
          <img class="media-object img-thumbnail user-img" alt="User Picture" src="assets/img/rust_logo.png">
          <!-- <span class="label label-danger user-label">16</span> -->
        </a>
                <div class="media-body">
                    <h5 class="media-heading">User:</h5>
                    <ul class="list-unstyled user-info">
                        <li> {{username}} </li>
                        <li>Last Access :
                            <br>
                            <small>
                  <i class="fa fa-calendar"></i>&nbsp; June 16:24 2016 ;</small>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- #menu -->
            <ul id="menu" class="collapse">
                <li class="nav-header">Menu</li>
                <li class="nav-divider"></li>

                <li>
                    <a href="/admin/index">
            <i class="fa fa-dashboard"></i>&nbsp;Dashboard</a>
                </li>
                <li>
                    <a href="/admin/post_list">
            <i class="fa fa-credit-card"></i>&nbsp;Post Management</a>
                </li>
                <li>
                    <a href="/admin/user">
            <i class="fa fa-user-circle"></i>&nbsp;User Management</a>
                </li>
                <li>
                    <a href="/admin/profile">
            <i class="fa fa-id-card"></i>&nbsp;Profile</a>
                </li>
                <li class="nav-divider"></li>
            </ul>
            <!-- /#menu -->
        </div>
        <!-- /#left -->
        {% block content %} {% endblock content %}
        <!-- end #content -->
    </div>
    <!-- /#wrap -->
    <div id="footer">
        <p>Copyright &copy; Samray Leung 2017</p>
    </div>

    <!-- #helpModal -->
    <div id="helpModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- /#helpModal -->
    <script src="assets/lib/jquery.min.js"></script>
    <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/lib/screenfull/screenfull.js"></script>
    <script src="assets/js/main.min.js"></script>

    {% block extra_js %} {% endblock extra_js %}

    <!--For Demo Only. Not required -->
    <!-- <script type="text/javascript" src="assets/js/style-switcher.js"></script> -->
    <script>
        $('#logout')
            .on('click', function(event) {
                event.preventDefault(); // To prevent following the link (optional)
                var data = {
                    email: $('#email')
                        .val(),
                    password: $('#password')
                        .val(),
                };
                $.ajax({
                    url: '/admin/logout', // url where to submit the request
                    type: "GET", // type of action POST || GET
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function(data, result) {
                        if (data == "SUCCESS") {
                            window.location.href = "/admin/login";
                            /* window.location.href = "/admin/post";*/
                        }
                    },
                    error: function(xhr, resp, text) {
                        console.log(xhr, resp, text);
                        alert("update error");
                    }
                })
            });
    </script>

</body>

</html>
