{% extends "admin/base" %}

{% block content %}
    <div id="content">
      <div class="outer">
        <div class="inner">
          <div class="col-lg-12">
	      Welcome to Samray's Blog, Still unfinished. 
          </div>
        </div>

        <!-- end .inner -->
      </div>

      <!-- end .outer -->
    </div>

    <!-- end #content -->
{% endblock content %}
