<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <meta name="msapplication-TileColor" content="#5bc0de" />
    <meta name="msapplication-TileImage" content="assets/img/metis-tile.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.min.css">
    <!-- <link rel="stylesheet" href="assets/lib/magic/magic.css"> -->

    <!-- Sweetalert2 -->
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.css" />
</head>

<body class="login">
    <div class="container">
        <div class="text-center">
            <img src="assets/img/logo.png" alt="Metis Logo">
        </div>
        <div class="tab-content">
            <div id="login" class="tab-pane active">
                <form action="/admin/login" method="post" class="form-signin">
                    <p class="text-muted text-center">
                        Enter your username and password
                    </p>
                    <input type="text" id="email" name="email" placeholder="email" class="form-control">
                    <input type="password" id="password" name="password" placeholder="password" class="form-control">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" id="login-submit">Sign in</button>
                </form>
            </div>
        </div>
        <!-- <div class="text-center"> -->
        <!-- <ul class="list-inline"> -->
        <!-- <li> <a class="text-muted" href="#login" data-toggle="tab">Login</a> </li> -->
        <!-- <li> <a class="text-muted" href="#forgot" data-toggle="tab">Forgot Password</a>  </li> -->
        <!-- <li> <a class="text-muted" href="#signup" data-toggle="tab">Signup</a> </li> -->
        <!-- </ul> -->
        <!-- </div> -->
    </div>
    <!-- /container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $('.list-inline li > a')
            .click(function () {
                var activeForm = $(this)
                    .attr('href') + ' > form';
                //console.log(activeForm);
                $(activeForm)
                    .addClass('magictime swap');
                //set timer to 1 seconds, after that, unload the magic animation
                setTimeout(function () {
                    $(activeForm)
                        .removeClass('magictime swap');
                }, 1000);
            });

        $('#login-submit')
            .on('click', function (event) {
                event.preventDefault(); // To prevent following the link (optional)
                var data = {
                    email: $('#email')
                        .val(),
                    password: $('#password')
                        .val(),
                };
                $.ajax({
                    url: '/admin/login', // url where to submit the request
                    type: "POST", // type of action POST || GET
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (data, result) {
                        if (data == "Success") {
                            window.location.href = "/admin/index";
                            /* window.location.href = "/admin/post";*/
                        } else if (data == "Failure") {
                            swal(
                                'Result',
                                'login failed, unknown email or password',
                                'error'
                            )
                        } else {
                            swal(
                                'Result',
                                'login error',
                                'error'
                            )
                        }
                    },
                    error: function (xhr, resp, text) {
                        console.log(xhr, resp, text);
                        alert("update error");
                    }
                })
            });
    </script>

    <!-- sweetalert2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.9.0/sweetalert2.min.js"></script>
</body>

</html>