{% extends "admin/base" %}

{% block content %}
    <div id="content">
      <div class="outer">
        <div class="inner">
          <div class="col-lg-12">
            <h2 id="metis-admin-template-with-twitter-bootstrap-build-status-https-travis-ci-org-onokumus-bootstrap-admin-template-png-http-travis-ci-org-onokumus-bootstrap-admin-template-">Metis Admin Template with Twitter Bootstrap
              <a href="http://travis-ci.org/onokumus/Bootstrap-Admin-Template">
                <img src="https://travis-ci.org/onokumus/Bootstrap-Admin-Template.png" alt="Build Status">
              </a>
            </h2>
            <h3 id="download">Download</h3>
            <p>Bootstrap 2.3.2
              <a href="https://github.com/onokumus/Bootstrap-Admin-Template/archive/v1.2.zip">V.1.2</a>              ready for use</p>
            <p>Bootstrap 3.1.1
              <a href="https://github.com/onokumus/Bootstrap-Admin-Template/archive/master.zip">V2.1.4</a>              ready <code>dist</code> folder your use</p>
            <h3 id="building">Building</h3>
            <h4 id="2-1-4-version">2.1.4 Version</h4>
            <p>required
              <a href="http://nodejs.org/">node.js</a> &amp;
              <a href="http://bower.io/">bower</a> &amp;
              <a href="http://gruntjs.com/getting-started">grunt</a>
            </p>
            <pre><code>$ git clone https://github.com/onokumus/Bootstrap-Admin-Template.git yourfoldername
$ cd yourfoldername
$ git submodule init
$ git submodule update
$ npm install
$ bower install (./node_modules/bower/bin/bower install)
$ grunt (./node_modules/grunt-cli/bin/grunt)
$ cd dist/
$ open index.html</code></pre>
            <h4 id="1-2-version">1.2 Version</h4>
            <pre><code>$ git clone -b v1.2 https://github.com/onokumus/Bootstrap-Admin-Template.git yourfoldername
$ cd yourfoldername
$ git submodule init
$ git submodule update
$ open index.html</code></pre>
            <h3 id="demo">Demo</h3>
            <h4 id="for-2-1-4-version">For 2.1.4 version</h4>
            <p>
              <a href="http://demo.onokumus.com/metis/">http://demo.onokumus.com/metis/</a>
            </p>
            <h4 id="for-1-2-version">For 1.2 version</h4>
            <p>(not development)
              <a href="http://demo.onokumus.com/metis/v12">http://demo.onokumus.com/metis/v12</a>
            </p>
            <h3 id="release-history">Release History</h3>
            <ul>
              <li>2014-02-16 v2.1.4 update bootsrap 3.1.1 &amp;&amp; add screenfull.js
                &amp;&amp; fixed #menu</li>
              <li>2014-01-19 v2.1.3 add suitcss &#39;s flex-embed component</li>
              <li>2013-11-30 v2.1.2 create menu plugin, rewrite menu.less</li>
              <li>2013-10-28 v2.1.1 add bower</li>
              <li>2013-10-28 v2.1.1 remove bootsrap, font awesome, gmaps submodule.</li>
              <li>2013-10-23   v2.1.1 Adds <code>bgimage.html</code> and <code>bgcolor.html</code>                pages.</li>
              <li>2013 [02-15, 10-22] v1.0 - v2.1 I don&#39;t remember. Whatever I did.</li>
              <li>2013-02-14   v1.0   First Commit.</li>
            </ul>
            <h3 id="credits">Credits</h3>
            <ul>
              <li> <a href="http://nodejs.org/">node.js</a> </li>
              <li> <a href="http://bower.io/">bower</a> </li>
              <li> <a href="http://gruntjs.com/">Grunt</a> </li>
              <li> <a href="http://assemble.io/">Assemble</a> </li>
              <li> <a href="http://jquery.com/">jQuery</a> </li>
              <li> <a href="http://getbootstrap.com/">Bootstrap</a> </li>
              <li> <a href="http://lesscss.org/">LESS</a> </li>
              <li> <a href="http://modernizr.com/">Modernizr</a> </li>
              <li> <a href="https://github.com/subtlepatterns/SubtlePatterns">SubtlePatterns</a>                </li>
              <li> <a href="http://arshaw.com/fullcalendar/">FullCalendar</a> </li>
              <li> <a href="https://github.com/harvesthq/chosen">Chosen</a> </li>
              <li> <a href="http://premiumsoftware.net/CLEditor">CLEditor</a> </li>
              <li> <a href="http://www.eyecon.ro/bootstrap-colorpicker/">Colorpicker for Bootstrap</a>                </li>
              <li> <a href="http://www.datatables.net">Data Tables</a> </li>
              <li> <a href="http://www.eyecon.ro/bootstrap-datepicker">Datepicker for Bootstrap</a>                </li>
              <li> <a href="http://elfinder.org">elFinder</a> </li>
              <li> <a href="http://rustyjeans.com/jquery-plugins/input-limiter">Input Limiter</a>                </li>
              <li> <a href="http://jasny.github.com/bootstrap">Jasny Bootstrap</a> </li>
              <li> <a href="http://jqueryvalidation.org/">jQuery Validation</a> </li>
              <li> <a href="http://www.meadmiracle.com/dlb/DLBDocumentation.aspx">Dual Listbox</a>                </li>
              <li> <a href="http://omnipotent.net/jquery.sparkline">jQuery Sparklines</a>                </li>
              <li> <a href="https://daneden.me/animate/">Animate</a> </li>
              <li> <a href="http://www.jacklmoore.com/autosize">Autosize</a> </li>
              <li> <a href="http://keith-wood.name/countdown.html">Countdown</a> </li>
              <li> <a href="http://cssbeautify.com">CSS Beautify</a> </li>
              <li> <a href="https://github.com/dangrossman/bootstrap-daterangepicker">Date range picker</a>                </li>
              <li> <a href="http://www.flotcharts.org">Flot</a> </li>
              <li> <a href="http://jquery.malsup.com/form/">jQuery Form</a> </li>
              <li> <a href="http://thecodemine.org">Form Wizard</a> </li>
              <li> <a href="http://boedesign.com/blog/2009/07/11/growl-for-jquery-gritter/">Gritter</a>                </li>
              <li> <a href="http://www.minimamente.com/magic-css3-animations">Magic</a>                </li>
              <li> <a href="https://github.com/brandonaaron/jquery-mousewheel">Mouse Wheel</a>                </li>
              <li> <a href="https://github.com/samwillis/pagedown-bootstrap">PageDown-Bootstrap</a>                </li>
              <li> <a href="https://github.com/moxiecode/plupload">Plupload</a> </li>
              <li> <a href="http://www.larentis.eu/switch/">Bootstrap Switch</a> </li>
              <li> <a href="http://tablesorter.com/">tablesorter</a> </li>
              <li> <a href="http://xoxco.com/projects/code/tagsinput/">tagsinput</a> </li>
              <li> <a href="http://jdewit.github.io/bootstrap-timepicker/">Bootstrap Timepicker</a>                </li>
              <li> <a href="http://touchpunch.furf.com/">Touch Punch</a> </li>
              <li> <a href="http://uniformjs.com/">Uniform</a> </li>
              <li> <a href="http://www.position-relative.net/">Validation Engine</a> </li>
              <li> <a href="http://validval.frebsite.nl/">jquery.validVal</a> </li>
              <li> <a href="http://jhollingworth.github.io/bootstrap-wysihtml5/">bootstrap-wysihtml5</a>                </li>
              <li> <a href="https://github.com/suitcss/flex-embed">Suitcss Flex-Embed</a>                </li>
              <li> <a href="https://github.com/sindresorhus/screenfull.js">screenfull.js</a>                </li>
            </ul>
            <h3 id="licensing">Licensing</h3>
            <p>Bootstrap Admin template is open-sourced software licensed under the
              <a href="LICENSE.md">MIT License</a> .</p>
          </div>
        </div>

        <!-- end .inner -->
      </div>

      <!-- end .outer -->
    </div>

    <!-- end #content -->
{% endblock content %}
